In [1]:
import sys
from pathlib import Path

PROJECT_ROOT = Path("..").resolve()
SRC_DIR = PROJECT_ROOT / "src"
sys.path.append(str(SRC_DIR))

from data_loader import load_movielens_ratings

df = load_movielens_ratings(PROJECT_ROOT / "data" / "rating.csv")
df.head()

   user_id  movie_id  rating
0      196       242     3.0
1      186       302     3.0
2       22       377     1.0
3      244        51     2.0
4      166       346     1.0

In [2]:
# Construct user-item matrix
user_item_matrix = df.pivot_table(
    index="user_id",
    columns="movie_id",
    values="rating"
).fillna(0.0)

user_item_matrix.shape, user_item_matrix.head()

((943, 1682),
 movie_id  1     2     3     4     5     6     7     8     9     10    ...  \
 user_id                                                               ...
 1          5.0   3.0   4.0   3.0   3.0   5.0   4.0   1.0   5.0   3.0  ...
 2          4.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   2.0  ...
 3          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
 4          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
 5          4.0   3.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...

 movie_id  1673  1674  1675  1676  1677  1678  1679  1680  1681  1682
 user_id
 1          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
 2          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
 3          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
 4          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
 5          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

 [5 rows x 1682 columns])